.banner-top-area{
    background: linear-gradient(-90deg, #ffffff50, #fdfdfd65) , url('https://media.istockphoto.com/photos/need-help-contact-us-picture-id1257481057?b=1&k=20&m=1257481057&s=170667a&w=0&h=PoXYK0XBeu-B0WTOhXNYa56vUz2_WZTEZjjUpJ97Dr8=');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}